# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Power BI
*.pbix.autosave